[submodule "External/GLFW"]
	path = External/GLFW
	url = https://github.com/glfw/glfw
[submodule "External/GLM"]
	path = External/GLM
	url = https://github.com/g-truc/glm
[submodule "External/Assimp"]
	path = External/Assimp
	url = https://github.com/assimp/assimp
